@charset "utf-8";
.sf-navbar{ background: #333;}
.sf-allcate{ background: #333;}
.sf-allcate dd ul{ background: #333;}
.sf-navlist{ border-left: 1px solid #000;}
.sf-allcate dd ul li{ border-top: 1px solid #000;}
.sf-allcate dd ul a{ color: #fff; background: #333;}
.sf-allcate dd ul a:hover,.sf-allcate dd ul a.sf-sel{ background-color: #000;}
.sf-allcate li.sf-moreList{ background: #000;}
.sf-allcate li.sf-moreList a{ background: #000; border-bottom: 1px solid #000;}
.sf-allcate li.sf-moreList a:hover{ background: #464545;}

.sf-module h5.h5{ background: #333;}

.sf-floorRight li>a.sf-1{ background-position: left 3px;}
.sf-floorRight li>a.sf-2{ background-position: left -32px;}
.sf-floorRight li>a.sf-3{ background-position: left -67px;}